<div class="main">

    <app-handtracker (onPrediction)="prediction($event)"></app-handtracker>
    <div [innerHTML]="gesture"></div>
    <h1>Hand Jam</h1>



</div>
<div class="keyboard">
    <div class="key">
        <div class="drum-img" id="tom-1">
            <img src="../../assets/images/snare.png" alt="snare drum">
        </div>
         <div class="hand-img" id="tom-1-hand">hand</div>
     </div>
     <div class="key">
        <div class="drum-img" id="tom-2">drum</div>
         <div class="hand-img" id="tom-2-hand">hand</div>
     </div>
     <div class="key">
        <div class="drum-img" id="tom-3">drum</div>
         <div class="hand-img" id="tom-3-hand">hand</div>
     </div>
     <div class="key">
        <div class="drum-img" id="tom-4">drum</div>
         <div class="hand-img" id="tom-4-hand">hand</div>
     </div>
     <div class="key">
        <div class="drum-img" id="tom-5">drum</div>
         <div class="hand-img" id="tom-5-hand">hand</div>
     </div>
     <div class="key">
        <div class="drum-img" id="tom-6">drum</div>
         <div class="hand-img" id="tom-6-hand">hand</div>
     </div>
     <div class="key">
        <div class="drum-img" id="tom-7">drum</div>
         <div class="hand-img" id="tom-7-hand">hand</div>
     </div>
</div>


