.main {
    margin: 50px 30px;
    display: flex;
    justify-content: space-evenly;
}

.keyboard {
    display: flex;
    width: 100%;
    border-style: solid;
    border-width: 1px;
}

.key {
    width: 15%;
    height: fit-content;
    border-width: 1px;
    display: flex;
    border-style: solid;
    flex-wrap: wrap;
    align-items: center; 
}

.border-text {
    margin: 10px
}

.text-center {
    text-align: center;
}
.nice-text {
    font-family: Arial, Helvetica, sans-serif;
    color: white
}

body {
    background-color: #121212;
}

.drum-img {
    min-width: 100%;
    height: 150px; 
    /* border-width: 0 0 1px 0; */
    display: flex; 
    justify-content: center; 
    align-items: center; 
    text-align: center;
    margin: 0;
    /* border-style: solid; */
}

.hand-img {
    min-width: 100%;
    height: 150px; 
    border-width: 0 0 1px 0;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    text-align: center;
    margin: 0;
    border-style: solid;
}

img {
    max-width: 65px;
    height: auto;
    width: auto; 
}
