<div class="main">

    <app-handtracker (onPrediction)="prediction($event)"></app-handtracker>
    <div>
        <h1 class="nice-text border-text">Hand Jam</h1>
        <p class="nice-text border-text">Press start to open your camera, then open/close/point your hands to play the instruments.</p>
        <p class="nice-text border-text">This is best done with a plain background.</p>

    </div>
</div>
<h2 class="text-center nice-text" [innerHTML]="gesture"></h2>

<div class="keyboard">
    <div class="key" (click)="playSound('snare.mp3')" [ngStyle]="{'background-color': openHand()}">
        <div class="drum-img" id="snare-img">
            <img src="../../assets/images/snare.png" alt="snare drum">
        </div>
         <div class="hand-img" id="snare-hand">
            <img src="../../assets/images/handOpen.jpg" alt="one hand open">
         </div>
    </div>
    <div class="key" (click)="playSound('kick-bass.mp3')" [ngStyle]="{'background-color': closedHand()}">
        <div class="drum-img" id="kick-img">
            <img src="../../assets/images/kick.png" alt="kick drum">
        </div>
         <div class="hand-img" id="kick-hand">
            <img src="../../assets/images/handClosed.jpg" alt="one hand closed">
         </div>
    </div>
    <div class="key" (click)="playSound('crash.mp3')" [ngStyle]="{'background-color': pointingHand()}">
        <div class="drum-img" id="crash-img">
            <img src="../../assets/images/crash.png" alt="crash drum">
        </div>
         <div class="hand-img" id="crash-hand">
            <img src="../../assets/images/handPointing.jpg" alt="one hand pointing">
         </div>
    </div>
    <div class="key" (click)="playSound('tom-1.mp3')" [ngStyle]="{'background-color': twoOpenHand()}">
        <div class="drum-img" id="tom-1-img">
            <img src="../../assets/images/tom1.png" alt="tom drum 1">
        </div>
         <div class="hand-img" id="tom-1-hand">
            <img src="../../assets/images/twoHandOpen.jpg" alt="two open hands">
         </div>
    </div>
    <div class="key" (click)="playSound('tom-2.mp3')" [ngStyle]="{'background-color': twoClosedHand()}">
        <div class="drum-img" id="tom-2-img">
            <img src="../../assets/images/tom2.png" alt="tom drum 2">
        </div>
         <div class="hand-img" id="tom-2-hand">
            <img src="../../assets/images/twoHandsClosed.jpg" alt="two closed hands">
         </div>
    </div>
    <div class="key" (click)="playSound('tom-3.mp3')" [ngStyle]="{'background-color': pinchingHand()}">
        <div class="drum-img" id="tom-3-img">
            <img src="../../assets/images/tom3.png" alt="tom drum 3">
        </div>
         <div class="hand-img" id="tom-3-hand">
            <img src="../../assets/images/handOpenHandClosed.jpg" alt="one hand open one hand closed">
         </div>
    </div>
    <div class="key" (click)="playSound('tom-4.mp3')" [ngStyle]="{'background-color': twoPointingHand()}">
        <div class="drum-img" id="tom-4-img">
            <img src="../../assets/images/tom4.png" alt="tom drum 4">
        </div>
         <div class="hand-img" id="tom-4-hand">
            <img src="../../assets/images/handClosedHandPointing.jpg" alt="one hand closed one hand pointing">
         </div>
    </div>
</div>